springdoc:
  swagger-ui.path: /swagger-ui.html
  api-docs.path: /v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitapidb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
  h2:
    console:
      enabled: false
      path: /h2-console
