  spring:

    profiles:
      default: local
    
    application:
      name: fitapi

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      defer-datasource-initialization: true

    sql:
      init:
        mode: always

    h2:
      console:
        enabled: false

  jwt:
    secret: ${JWT_SECRET}
    expiration-ms: 3600000

  springdoc:
    swagger-ui:
      path: /swagger-ui.html
    api-docs:
      path: /v3/api-docs

  management:
    endpoints:
      web:
        exposure:
          include: health,info
