spring:

  profiles:
    default: local
  
  application:
    name: fitapi

  jpa:
    show-sql: true
    defer-datasource-initialization: false
    hibernate:
      ddl-auto: update

  sql:
    init:
      mode: never

  h2:
    console:
      enabled: false

  flyway:
    enabled: true

jwt:
  secret: ${JWT_SECRET:JWT_SECRET_LOCAL}
  expiration-ms: 3600000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: health,info
